---
title: 3D Панели для стен в Балаково
---
{% extends "layouts/_layout.html" %}

{% block content %}

{% include "partials/_header.html" %}

<!--Start Main-->
<main class="main">

	<!--Start Info-->
	<section class="info" id="info">
		<div class="container">
			<div class="row">

				<div class="col-xs-12">
					<div class="s-header">
						<h2 class="s-header__title">Характеристики</h2>
					</div>
				</div>

			</div>
			<div class="row">

				{% import "data/data.html" as infoItem %}
				{% for item in infoItem.infoItem %}
				<div class="info-item">
					<div class="info-item__inner">
						<div class="info-item__img">
							<svg class="icon icon-{{item.img}}">
								<use xlink:href="img/sprite.svg#{{item.img}}"></use>
							</svg>
						</div>
						<div class="info-item__desc">{{item.desc}}</div>
					</div>
				</div>
				{% endfor %}

			</div>
		</div>
	</section>
	<!--End Info-->

	<!-- BEGIN Benefits -->
	<section class="benefits" id="benefits">
		<div class="container">
			<div class="row">

				<div class="col-xs-12">
					<div class="s-header">
						<h2 class="s-header__title">Преимущества</h2>
					</div>
				</div>

			</div>

			<div class="benefits-item">
				<div class="benefits-item__img">
					<img src="img/benefits-item-colors.jpg" alt="Безграничный выбор цветовой гаммы" class="img-responsive">
				</div>
				<div class="benefits-item__text">
					<div class="benefits-item__text_inner">
						<h3 class="benefits-item__title">Безграничный выбор цветовой гаммы</h3>
						<p class="benefits-item__desc">Окраска 3D панелей возможна в любой цвет.На стеновые панели можно наносить краску любого состава, а так же декоративную штукатурку и другие виды покрытий. Перекрашивать 3D панели можно не один раз. Так, что освежить дизайн квартиры сменой цветового решения гипсовых панелей вы сможете без малейших усилий.</p>
					</div>
				</div>
			</div>

			<div class="benefits-item benefits-item_inverse benefits-item_text-center">
				<div class="benefits-item__img">
					<img src="img/benefits-item-design.jpg" alt="Безграничный выбор цветовой гаммы" class="img-responsive">
				</div>
				<div class="benefits-item__text">
					<div class="benefits-item__text_inner">
						<h3 class="benefits-item__title">Оригинальный дизайн</h3>
						<p class="benefits-item__desc">3D панели – это новинка в мире отделки и дизайна интерьера. Возможности 3D панелей безграничны! Удачно подобранные цвет и фактура помогут расширить-сузить помещение, поднять-опустить потолок, осветлить помещение или убрать отдельные участки в тень. Подсветка 3D панелей подчеркнет изящность рельефа и благодаря игре света и тени оживят весь интерьер!</p>
					</div>
				</div>
			</div>

			<div class="benefits-item benefits-item_text-bottom">
				<div class="benefits-item__img">
					<img src="img/benefits-item-cleaning.jpg" alt="Безграничный выбор цветовой гаммы" class="img-responsive">
				</div>
				<div class="benefits-item__text">
					<div class="benefits-item__text_inner">
						<h3 class="benefits-item__title">Легкий уход</h3>
						<p class="benefits-item__desc">3D панели не требуют специального ухода, для очистки поверхности стеновых панелей подойдут любые средства, которые вы ипользуете при уборке дома. Полную информацию по уходу за гипсовыми панелями вы можете посмотреть <a class="jsPopup" href="#easy-clean">тут</a>.</p>
					</div>
				</div>
			</div>

		</div>
	</section>
	<!-- END Benefits -->

	<!-- BEGIN Cashback -->
	<section class="cashback" id="cashback">
		<div class="cashback__left">
			<div class="cashback-slider">
				{% import "data/data.html" as sliderItem %}
				{% for cashBackSlider in sliderItem.slider %}
					<div class="cashback-slider__img">
						<img src="img/slider/{{cashBackSlider.img}}.jpg" alt="{{cashBackSlider.title}}" class="img-responsive">
					</div>
					<span class="cashback-slider__title">{{cashBackSlider.title}}</span>
				{% endfor %}
			</div>
		</div>
		<div class="cashback__right">
			<form class="form cashback__form main-form">

				<!-- Hidden Required Fields -->
				<input type="hidden" name="project_name" value="3D Панели">
				<input type="hidden" name="admin_email" value="ziqqziqq@yandex.ru">
				<input type="hidden" name="form_subject" value="Скидка 20%.">
				<!-- END Hidden Required Fields -->

				<div class="success"><span>Спасибо за заявку!</span></div>

				<h2 class="cashback__title">Хотите получить скидку 20% ?</h2>
				<span class="cashback__desc">Оставте заявку и мы перезвоним Вам в течении 15 минут с 9:00 до 21:00</span>

				<input class="form__input form__input-name" type="text" name="Имя" required placeholder="Ваше имя...">
				<input class="form__input form__input-phone" type="tel" name="Телефон" required placeholder="Ваш телефон...">
				<div class="form__btn-group">
					<button class="btn" onSubmit="yaCounter44537713.reachGoal ('sale25'); return true;">Получить скидку</button>
				</div>
				<span class="person-data">Оставляя заявку вы соглашаетесь с <a class="jsPopup" href="#privacy">политикой конфиднциальности</a>.</span>
			</form>
		</div>
	</section>
	<!-- END Cashback -->

	<!-- BEGIN How We Work -->
	<section class="howwework inverse" style="background-image: url(../img/howwework-bg.jpg);">
		<div class="container">
			<div class="row">

				<div class="col-xs-12">
					<div class="s-header">
						<h2 class="s-header__title">Как мы работаем</h2>
					</div>
				</div>

			</div>
			<div class="row">

				<div class="howwework-item__wrap">
					<div class="howwework-item howwework-item_form">
						<span class="howwework-item__text">Вы оставляете заявку используя одну из форм на сайте</span>
					</div>

					<div class="howwework-item howwework-item_manager">
						<span class="howwework-item__text">Наш менеджер связывается с Вами для уточнения информации</span>
					</div>

					<div class="howwework-item howwework-item_order">
						<span class="howwework-item__text">Мы изготавливаем и бережно упаковываем Ваш заказ</span>
					</div>

					<div class="howwework-item howwework-item_dilivery">
						<span class="howwework-item__text">Быстро доставляем Ваш заказ по указанному адресу</span>
					</div>
				</div>

			</div>
		</div>
	</section>
	<!-- END How We Work -->

	<!-- BEGIN Any Questions -->
	<section class="questions">
		<div class="container">
			<div class="row">

				<div class="col-xs-12">
					<div class="s-header">
						<h2 class="s-header__title">Остались вопросы?</h2>
						<h4 class="s-header__desc">Оставьте заявку и наш менеджер ответит на них в ближайшее время.</h4>
					</div>
				</div>

			</div>
			<div class="row">

				<div class="col-xs-12">

					<form class="form questions__form">

						<!-- Hidden Required Fields -->
						<input type="hidden" name="project_name" value="3D Панели">
						<input type="hidden" name="admin_email" value="ziqqziqq@yandex.ru">
						<input type="hidden" name="form_subject" value="Заявка с вопросами.">
						<!-- END Hidden Required Fields -->

						<input class="form__input form__input-name" type="text" name="Имя" required placeholder="Ваше имя...">
						<input class="form__input form__input-phone" type="tel" name="Телефон" required placeholder="Ваш телефон...">
						<div class="form__btn-group">
							<button class="btn" onSubmit="yaCounter44537713.reachGoal ('questions'); return true;">Задать вопрос</button>
							<span class="person-data">Оставляя заявку вы соглашаетесь с <a class="jsPopup" href="#privacy">политикой конфиднциальности</a>.</span>
						</div>
					</form>

				</div>

			</div>
		</div>
	</section><!-- END Any Questions -->

</main><!--End Main-->

{% endblock %}

