<!--Start Footer-->
<footer itemscope="itemscope" itemtype="http://schema.org/WPFooter" class="footer">
	<div class="container">
		<div class="copyright">3D Панели 2017 &copy;</div>
		<a class="jsPopup footer__privacy" href="#privacy">Политика конфиднциальности</a>
		<a class="jsPopup footer__easy-clean" href="#easy-clean">Уход за 3D панелями</a>
		<div class="developer">разработано <a href="https://vk.com/antonustinoff" class="developer__link" itemprop="url">au</a></div>
	</div>
</footer><!--End Footer-->