<!--Start Header-->
<header itemscope itemtype="http://schema.org/WPHeader" class="header" id="header" style="background-image: url(img/header-bg-2.jpg);">

	<div class="header__top">
		<div class="container">
			<div class="row">
				<div class="logo__wrap">
					<div class="col-md-2 col-sm-1 col-xs-5">
						<div class="header__logo logo">
							<div class="logo__text">3D</div>
							<span class="logo__text">панели</span>
						</div>
					</div>
				</div>
				<div class=" col-sm-3 col-md-push-7 col-sm-push-8 col-xs-12">
					<div class="header__phone phone">
						<a class="phone__num" itemprop="telephone" href="tel:"><span>+7 (927)</span> 120-45-63</a>
						<a class="phone__text jsPopup" href="#callback">получить консультацию</a>
					</div>
				</div>
				<div class="col-md-7 col-sm-pull-3 col-sm-8 col-xs-12">
					<nav class="header__nav nav">
						<ul>
							<li class="no-active"><a href="#header"></a></li>
							<li><a class="jsGoTo" href="#info">Характеристики</a></li>
							<li><a class="jsGoTo" href="#benefits">Преимущества</a></li>
							<li><a class="jsGoTo" href="#cashback">Скидки</a></li>
							<li><a class="jsGoTo" href="#whywe">О нас</a></li>
						</ul>
					</nav>
				</div>

				<div class="toggle-mnu__wrap">
					<div class="jsMobileMenuButton">
						<a href="#" class="toggle-mnu">
							<span></span>
							<span></span>
							<span></span>
							<span></span>
						</a>
					</div>
				</div>

			</div>
		</div>			
	</div>

	<div class="container">
		<div class="row">

			<div class="col-xs-12">
				<div class="header-text">
					<h3 class="header-text__subtitle">Третье измерение в интерьерном дизайне</h3>
					<h1 class="header-text__title" itemprop="headline">Декоративные панели из гипса</h1>
					<p class="header-text__desc">Для жилых интерьеров, ресторанов, кафе,офисов,гостиниц, салонов красоты и других обьектов</p>
					<a href="#catalog" class="header-text__btn btn btn_transparent jsPopup">Посмотреть каталог</a>
				</div>
			</div>

			<div class="mouse-icon"><span class="wheel"></span></div>

			<div class="col-md-5 col-sm-5 hidden">
				<form class="form header__form main-form">

					<!-- Hidden Required Fields -->
					<input type="hidden" name="project_name" value="3D Панели">
					<input type="hidden" name="admin_email" value="ziqqziqq@yandex.ru">
					<input type="hidden" name="form_subject" value="Заявка со скидкой 10%.">
					<!-- END Hidden Required Fields -->

					<div class="success"><span>Спасибо за заявку!</span></div>

					<span class="form__title">Первым <span class="text-color">3</span> клиентам сделавшим заказ сегодня <span class="text-color">скидка 10%</span>.</span>
					<input class="form__input form__input-name" type="text" name="Имя" required placeholder="Ваше имя...">
					<input class="form__input form__input-phone" type="tel" name="Телефон" required placeholder="Ваш телефон...">
					<div class="form__btn-group">
						<button class="btn" onSubmit="yaCounter44537713.reachGoal ('sale10'); return true;">Заказать</button>
					</div>
					<span class="person-data">Оставляя заявку вы соглашаетесь с <a class="jsPopup" href="#privacy">политикой конфиднциальности</a>.</span>
				</form>
			</div>

		</div>
	</div>

	<div class="header__bottom hidden">
		<div class="container">
			<div class="row">					

				<ul class="different">
					<li class="different__item">
						<img class="different__img img-svg" src="img/icons/ico--delivery.svg" alt="Бесплатная доставка">
						<span class="different__text">Бесплатная доставка</span>
					</li>
					<li class="different__item">
						<img class="different__img img-svg" src="img/icons/ico--loyalnost.svg" alt="Программы лояльности">
						<span class="different__text">Программы лояльности</span>
					</li>
					<li class="different__item">
						<img class="different__img img-svg" src="img/icons/ico--production.svg" alt="Собственное производство">
						<span class="different__text">Собственное производство</span>
					</li>
				</ul>

			</div>
		</div>
	</div>

</header><!--End Header-->