<div class="hidden">

	<div id="catalog" class="catalog js-custom-scroll">
		<div class="catalog__inner">

			<a class="catalog-item" href="javascript:void(0);">
				<div class="catalog-item__inner">
					<div class="catalog-item__img">
						<img src="img/Catalog/Огонь.jpg" alt="Огонь">
					</div>
					<div class="catalog-item__desc">
						<span class="title">Огонь</span>
						<span class="size">500x500 мм</span>
						<span class="price">500 <i class="fa fa-rub"></i></span>
					</div>
				</div>
			</a>

			<a class="catalog-item" href="javascript:void(0);">
				<div class="catalog-item__inner">
					<div class="catalog-item__img">
						<img src="img/Catalog/Соты.jpg" alt="Соты">
					</div>
					<div class="catalog-item__desc">
						<span class="title">Соты</span>
						<span class="size">500x500 мм</span>
						<span class="price">450 <i class="fa fa-rub"></i></span>
					</div>
				</div>
			</a>

			<a class="catalog-item" href="javascript:void(0);">
				<div class="catalog-item__inner">
					<div class="catalog-item__img">
						<img src="img/Catalog/Лабиринт.jpg" alt="Лабиринт">
					</div>
					<div class="catalog-item__desc">
						<span class="title">Лабиринт</span>
						<span class="size">500x500 мм</span>
						<span class="price">450 <i class="fa fa-rub"></i></span>
					</div>
				</div>
			</a>

			<a class="catalog-item" href="javascript:void(0);">
				<div class="catalog-item__inner">
					<div class="catalog-item__img">
						<img src="img/Catalog/бамбук.jpg" alt="бамбук">
					</div>
					<div class="catalog-item__desc">
						<span class="title">бамбук</span>
						<span class="size">500x500 мм</span>
						<span class="price">450 <i class="fa fa-rub"></i></span>
					</div>
				</div>
			</a>

			<a class="catalog-item" href="javascript:void(0);">
				<div class="catalog-item__inner">
					<div class="catalog-item__img">
						<img src="img/Catalog/Волна крупная.jpg" alt="Волна крупная">
					</div>
					<div class="catalog-item__desc">
						<span class="title">Волна крупная</span>
						<span class="size">500x500 мм</span>
						<span class="price">450 <i class="fa fa-rub"></i></span>
					</div>
				</div>
			</a>

			<a class="catalog-item" href="javascript:void(0);">
				<div class="catalog-item__inner">
					<div class="catalog-item__img">
						<img src="img/Catalog/Ламинария.jpg" alt="Ламинария">
					</div>
					<div class="catalog-item__desc">
						<span class="title">Ламинария</span>
						<span class="size">500x500 мм</span>
						<span class="price">500 <i class="fa fa-rub"></i></span>
					</div>
				</div>
			</a>

			<a class="catalog-item" href="javascript:void(0);">
				<div class="catalog-item__inner">
					<div class="catalog-item__img">
						<img src="img/Catalog/Феи.jpg" alt="Феи">
					</div>
					<div class="catalog-item__desc">
						<span class="title">Феи</span>
						<span class="size">500x500 мм</span>
						<span class="price">500 <i class="fa fa-rub"></i></span>
					</div>
				</div>
			</a>

			<a class="catalog-item" href="javascript:void(0);">
				<div class="catalog-item__inner">
					<div class="catalog-item__img">
						<img src="img/Catalog/Маленькая лесенка.jpg" alt="Маленькая лесенка">
					</div>
					<div class="catalog-item__desc">
						<span class="title">лесенка</span>
						<span class="size">500x500 мм</span>
						<span class="price">450 <i class="fa fa-rub"></i></span>
					</div>
				</div>
			</a>

			<a class="catalog-item" href="javascript:void(0);">
				<div class="catalog-item__inner">
					<div class="catalog-item__img">
						<img src="img/Catalog/Зебра.jpg" alt="Зебра">
					</div>
					<div class="catalog-item__desc">
						<span class="title">Зебра</span>
						<span class="size">500x500 мм</span>
						<span class="price">450 <i class="fa fa-rub"></i></span>
					</div>
				</div>
			</a>

			<a class="catalog-item" href="javascript:void(0);">
				<div class="catalog-item__inner">
					<div class="catalog-item__img">
						<img src="img/Catalog/Устина.jpg" alt="Устина">
					</div>
					<div class="catalog-item__desc">
						<span class="title">Устина</span>
						<span class="size">500x500 мм</span>
						<span class="price">550 <i class="fa fa-rub"></i></span>
					</div>
				</div>
			</a>

			<a class="catalog-item" href="javascript:void(0);">
				<div class="catalog-item__inner">
					<div class="catalog-item__img">
						<img src="img/Catalog/Мягкий ромб.jpg" alt="Мягкий ромб">
					</div>
					<div class="catalog-item__desc">
						<span class="title">Мягкий ромб</span>
						<span class="size">500x500 мм</span>
						<span class="price">450 <i class="fa fa-rub"></i></span>
					</div>
				</div>
			</a>

			<a class="catalog-item" href="javascript:void(0);">
				<div class="catalog-item__inner">
					<div class="catalog-item__img">
						<img src="img/Catalog/Паутинка.jpg" alt="Паутинка">
					</div>
					<div class="catalog-item__desc">
						<span class="title">Паутинка</span>
						<span class="size">500x500 мм</span>
						<span class="price">550 <i class="fa fa-rub"></i></span>
					</div>
				</div>
			</a>

			<a class="catalog-item" href="javascript:void(0);">
				<div class="catalog-item__inner">
					<div class="catalog-item__img">
						<img src="img/Catalog/Мономир.jpg" alt="Мономир">
					</div>
					<div class="catalog-item__desc">
						<span class="title">Мономир</span>
						<span class="size">500x500 мм</span>
						<span class="price">550 <i class="fa fa-rub"></i></span>
					</div>
				</div>
			</a>

			<a class="catalog-item" href="javascript:void(0);">
				<div class="catalog-item__inner">
					<div class="catalog-item__img">
						<img src="img/Catalog/Ромб.jpg" alt="Ромб">
					</div>
					<div class="catalog-item__desc">
						<span class="title">Ромб</span>
						<span class="size">500x500 мм</span>
						<span class="price">500 <i class="fa fa-rub"></i></span>
					</div>
				</div>
			</a>

			<a class="catalog-item" href="javascript:void(0);">
				<div class="catalog-item__inner">
					<div class="catalog-item__img">
						<img src="img/Catalog/Астра.jpg" alt="Астра">
					</div>
					<div class="catalog-item__desc">
						<span class="title">Астра</span>
						<span class="size">500x500 мм</span>
						<span class="price">500 <i class="fa fa-rub"></i></span>
					</div>
				</div>
			</a>

			<a class="catalog-item" href="javascript:void(0);">
				<div class="catalog-item__inner">
					<div class="catalog-item__img">
						<img src="img/Catalog/Валенсия.jpg" alt="Валенсия">
					</div>
					<div class="catalog-item__desc">
						<span class="title">Валенсия</span>
						<span class="size">500x500 мм</span>
						<span class="price">500 <i class="fa fa-rub"></i></span>
					</div>
				</div>
			</a>

			<a class="catalog-item" href="javascript:void(0);">
				<div class="catalog-item__inner">
					<div class="catalog-item__img">
						<img src="img/Catalog/Старый кирпич.jpg" alt="Старый кирпич">
					</div>
					<div class="catalog-item__desc">
						<span class="title">Старый кирпич</span>
						<span class="size">500x500 мм</span>
						<span class="price">500 <i class="fa fa-rub"></i></span>
					</div>
				</div>
			</a>

			<a class="catalog-item" href="javascript:void(0);">
				<div class="catalog-item__inner">
					<div class="catalog-item__img">
						<img src="img/Catalog/Волна каноэ.jpg" alt="Волна каноэ">
					</div>
					<div class="catalog-item__desc">
						<span class="title">Волна каноэ</span>
						<span class="size">500x500 мм</span>
						<span class="price">500 <i class="fa fa-rub"></i></span>
					</div>
				</div>
			</a>

			<a class="catalog-item" href="javascript:void(0);">
				<div class="catalog-item__inner">
					<div class="catalog-item__img">
						<img src="img/Catalog/Максвелл.jpg" alt="Максвелл">
					</div>
					<div class="catalog-item__desc">
						<span class="title">Максвелл</span>
						<span class="size">500x500 мм</span>
						<span class="price">1000 <i class="fa fa-rub"></i></span>
					</div>
				</div>
			</a>

			<a class="catalog-item" href="javascript:void(0);">
				<div class="catalog-item__inner">
					<div class="catalog-item__img">
						<img src="img/Catalog/Бабочка.jpg" alt="Бабочка">
					</div>
					<div class="catalog-item__desc">
						<span class="title">Бабочка</span>
						<span class="size">500x500 мм</span>
						<span class="price">500 <i class="fa fa-rub"></i></span>
					</div>
				</div>
			</a>

			<a class="catalog-item" href="javascript:void(0);">
				<div class="catalog-item__inner">
					<div class="catalog-item__img">
						<img src="img/Catalog/Лего.jpg" alt="Лего">
					</div>
					<div class="catalog-item__desc">
						<span class="title">Лего</span>
						<span class="size">500x500 мм</span>
						<span class="price">500 <i class="fa fa-rub"></i></span>
					</div>
				</div>
			</a>

			<a class="catalog-item" href="javascript:void(0);">
				<div class="catalog-item__inner">
					<div class="catalog-item__img">
						<img src="img/Catalog/Шик.jpg" alt="Шик">
					</div>
					<div class="catalog-item__desc">
						<span class="title">Шик</span>
						<span class="size">500x500 мм</span>
						<span class="price">500 <i class="fa fa-rub"></i></span>
					</div>
				</div>
			</a>

			<a class="catalog-item" href="javascript:void(0);">
				<div class="catalog-item__inner">
					<div class="catalog-item__img">
						<img src="img/Catalog/Аливия.jpg" alt="Аливия">
					</div>
					<div class="catalog-item__desc">
						<span class="title">Аливия</span>
						<span class="size">500x500 мм</span>
						<span class="price">500 <i class="fa fa-rub"></i></span>
					</div>
				</div>
			</a>

			<a class="catalog-item" href="javascript:void(0);">
				<div class="catalog-item__inner">
					<div class="catalog-item__img">
						<img src="img/Catalog/Занзибар.jpg" alt="Занзибар">
					</div>
					<div class="catalog-item__desc">
						<span class="title">Занзибар</span>
						<span class="size">500x500 мм</span>
						<span class="price">500 <i class="fa fa-rub"></i></span>
					</div>
				</div>
			</a>

			<a class="catalog-item" href="javascript:void(0);">
				<div class="catalog-item__inner">
					<div class="catalog-item__img">
						<img src="img/Catalog/Волна.jpg" alt="Волна">
					</div>
					<div class="catalog-item__desc">
						<span class="title">Волна</span>
						<span class="size">500x500 мм</span>
						<span class="price">500 <i class="fa fa-rub"></i></span>
					</div>
				</div>
			</a>

		</div>
	</div>

	<div id="easy-clean" class="easy-clean js-custom-scroll">

		<div class="easy-clean__inner">
			<p>Чистка гипсовых 3д панелей сводится к легкой уборке мягкой щеткой, тряпочкой, с задачей по устранению пыли cо стеновых панелей отлично справятся салфетки из микрофибры, предназначенные для сухой и деликатной уборки.</p> 

			<span>Влажная уборка, но не мытье.</span>

			<p>Как известно, гипсовые панели не боятся влаги, но это понятие относительное. Вообще, если возникла необходимость удалить серьезное загрязнение с гипсовой поверхности, то вполне допустимо мытье хлоркой, или другими антисептическими химическими средствами. Но это не значит, что гипсовые панели 3д можно полноценно мыть еженедельно, поскольку гипсовые материалы под воздействием воды после высыхания подвержены деформации. Именно поэтому укладка гипсовых 3D панелей не рекомендуется в ванных и душевых комнатах.</p> 

			<span>Возможность реставрации.</span>

			<p>Совсем избежать критических непредвиденных ситуаций — невозможно. К таковым можно отнести затопление соседями сверху, механические повреждения 3д панелей в процессе перестановки мебели и прочие. В таком случае можно либо реставрировать повреждение путем нанесения шпатлевки, либо заменить поврежденный модуль. После чего при помощи шпателя зашпаклевываются швы, шлифуется поверхность, и перекрашивается общая площадь (поскольку трудно добиться однородности света поверхности путем покраски только замененной части).</p>
		</div>
	</div>

	<div id="privacy" class="privacy js-custom-scroll">

		<div class="privacy__inner">
			<h2 class="privacy__title">Политика конфиденциальности</h2>

			<span class="privacy__subtitle">Сбор информации</span>

			<p><span>При оставлении заявки на сайте <strong>3panels64.ru</strong> клиенты предоставляют следующие сведения:</span>
				Имя. (обязательно) <br>
				Контактный E-mail (обязательно). <br>
			Также администрация сайта получает данные об IP-адресе посетителей, а также о типе браузера, времени нахождения на сайте и прочие подобные сведения. Сбор ведётся с помощью сервисов статистики.</p>

			<span class="privacy_subtitle">Использование информации</span>

			<p>Вся полученная информация используется администрацией сайта <strong>3panels64.ru</strong> исключительно в целях связи с клиентом. Администрация сайта <strong>3panels64.ru</strong> имеет право направлять клиенту информационные сообщения (новостную рассылку), если он подписался на них.</p>

			<span class="privacy_subtitle">Защита персональных данных</span>

			<p>Сайт <strong>3panels64.ru</strong> обязуется не разглашать сведения, полученные от клиентов. Она хранится в базе данных на локальном компьютере администрации сайта <strong>3panels64.ru</strong>. Доступ к компьютеру надёжно защищён паролем, который имеется только у администратора сайта.</p>

			<span class="privacy_subtitle">Предоставление данных третьим лицам</span>

			<p><span>Полученные сведения не могут быть переданы третьим лицам, за исключением следующих случаев:</span>
				Для исполнения обязательств перед клиентом – только с его разрешения.
				В соответствии с обоснованными и применимыми требованиями закона.
			Контакты</p>

			<span class="privacy_subtitle">По всем вопросам вы можете обращаться к администрации сайта.</span>

			<p>Телефон: +7 (927) 120-45-63. <br>
				E-mail: vano_nemov1988@mail.ru. <br>
			Настоящая редакция политики конфиденциальности опубликована 1 августа 2017 года.</p>
		</div>
	</div>

	<div id="callback">			
		<form class="form callback__form main-form">

			<!-- Hidden Required Fields -->
			<input type="hidden" name="project_name" value="3D Панели">
			<input type="hidden" name="admin_email" value="ziqqziqq@yandex.ru">
			<input type="hidden" name="form_subject" value="Обратный звонок.">
			<!-- END Hidden Required Fields -->

			<div class="success"><span>Спасибо за заявку!</span></div>

			<h2 class="cashback__title">Заказать звонок</h2>
			<span class="cashback__desc">Оставте заявку и мы перезвоним Вам в течении 15 минут в рабочее время с 9:00 до 18:00 с пн-пт.</span>

			<input class="form__input form__input-name" type="text" name="Имя" required placeholder="Ваше имя...">
			<input class="form__input form__input-phone" type="tel" name="Телефон" required placeholder="Ваш телефон...">
			<div class="form__btn-group">
				<button class="btn" onSubmit="yaCounter44537713.reachGoal ('callback'); return true;">Заказать</button>
			</div>
			<span class="person-data">Оставляя заявку вы соглашаетесь с <a class="jsPopup" href="#privacy">политикой конфиднциальности</a>.</span>
		</form>
	</div>

</div>